body{
    background-image: url("https://www.shutterstock.com/image-photo/high-mountain-morning-time-beautiful-260nw-1384588922.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}