body{
    background-image: url("https://media.istockphoto.com/id/862205352/vector/shop%D1%81art-banner-copy.jpg?s=612x612&w=0&k=20&c=206dIvxS0s2WrYrt0pyYwpaYmj-pEjkb6RzuVs2cucs=");
    background-repeat: no-repeat;
    background-size: cover;
}