body{
    background-image: url("https://www.sender.net/wp-content/uploads/2021/03/sign_up_success_message_templates.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body b{
    font-size: 40px;
    color:black;
    margin-top: -300px;
    margin-left: 500;
    position: absolute;

}